@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply max-w-[330px] bg-lightGrey px-7 py-5 flex flex-col items-start rounded-[28px] border-2 border-borderGrey opacity-100;
}

.card-grid {
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.pricing-card {
  @apply max-w-[315px] px-6 py-5 border-[1px] border-borderGrey opacity-100  rounded-3xl;
}

.pricing-container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.pricing-benefit {
  @apply text-[15px] flex items-center gap-2;
}

.flex-none {
  flex: none;
}

.info-grid {
  grid-template-columns: 4fr 3fr;
}

.info-icon {
  @apply w-[52px];
}

.info-highlight {
  @apply font-semibold text-white;
}

.flashcard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 30px;
}

.flashcard {
  @apply bg-[#fff] text-lightGrey w-full h-[235px] rounded-lg text-center hover:cursor-pointer;
  perspective: 1000px;
}

.flashcard-inner {
  @apply relative w-full h-full;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.flashcard.flipped .flashcard-inner {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  @apply absolute w-full h-full bg-[rgb(73,80,87)] pt-5 px-4 text-[#dee2e6];
  backface-visibility: hidden;
  box-shadow: 1px 1px 10px 0 rgba(73, 80, 87, 0.6);
}

.flashcard-back {
  transform: rotateY(180deg);
}

@media (max-width: 526px) {
  .card {
    @apply max-w-[375px] bg-lightGrey px-7 py-5 flex flex-col items-start rounded-[28px];
  }
}

@media (max-width: 580px) {
  .pricing-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
  }

  .card {
    max-height: 14rem;
  }
}

@media (max-width: 820px) and (min-width: 530px) {
  .card-3 {
    grid-column: span 2;
    margin-top: 10px;
  }

  .card {
    @apply max-w-[325px] max-h-[14.2rem] bg-lightGrey px-7 py-5 flex flex-col items-start rounded-[28px];
  }

  .pricing-container {
    gap: 10px;
  }
}

@media (max-width: 720px) {
  .info-grid {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 35px;
    padding: 50px 0;
  }

  .flashcard-grid {
    gap: 23px;
  }
}
